<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="headlight" >
    <div class="container-fluid">
      <a class="navbar-brand" ><b style="color: white;">Personal Loan</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-top: 1.5%;margin-left: 21%;">
          
        <ul class="navbar-nav" style="width: 100%;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" id="applyLoan" routerLink="/customerapplyloan" ><b style="color: white;cursor: pointer;">Apply Loan</b></a>
          </li>
          <li class="nav-item" style="margin-left: 12%;">
            <a class="nav-link" id="loanStatus" routerLink="/customerloanstatus" ><b style="color: white;cursor: pointer;">Loan Status</b></a>
          </li>
          <li class="nav-item" style="margin-left: 12%;">
            <a class="nav-link" id="profile" routerLink="/customerprofile" ><b style="color: white;cursor: pointer;">Profile</b></a>
          </li>

          <li class="nav-item" style="margin-left: 43%;">
            <a class="nav-link" id="logout" routerLink="/" (click)="logOut()"><b style="color: white;cursor: pointer;">Logout</b></a>
          </li>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
