<div id="background" >
    <br>
    <br>
      <div class="row">
    
        <div class="col-md-3"></div>
        <div class="col-md-6">
             
            <div class="shadow-lg p-3 mb-5 bg-body rounded" style="width: 30rem;height: 24rem;margin-left: 18%;margin-top: 5%;">
               
                <div style="text-align: center;font-size: xx-large; background-color:darkslateblue;width: 107.3%;
                margin-left: -3.58%;margin-top: -4%;height: 15%;">
                    <b style="color: white;">Find Your Account</b>
                </div>
    
                <div style="height: 65px;">
                  <div class="alert alert-danger" role="alert" id="invalidUser" style="text-align: center; display: none; ">
                    Account Not Found!
                  </div>
                  <div class="alert alert-success" id="updateSuccess"  style="text-align: center; display: none;" role="alert">
                    Password updated Successfully!
                  </div>
                </div>
    
                <div id="firstshow">
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">Please enter your email address to search for your account.</p>
                <form #forgotForm="ngForm">
    
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="height:100%"> <i class="fa fa-user" aria-hidden="true" style="color:darkslateblue;"></i></span>
                        </div>
    
                        <input ngModel name="email" id="email" type="email" class="form-control" style="font-size: larger;" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" aria-label="Username" aria-describedby="basic-addon1" #email="ngModel" required>
                      </div>
                      <div style="height: 32px;margin-top: -4%;">
                        <div *ngIf="email.invalid && (email.touched || email.dirty)">
                            <p *ngIf="email.errors?.['required']" style="color: red;">Email required</p>
                            <p *ngIf="email.errors?.['pattern']" style="color: red;">Incorrect Email Format</p>
                        </div>
                      </div> 
    
                     
                       
    
                        <button class="btn" id="submitButton" style="background-color: darkslateblue;color: white;border-radius: 0.25rem;margin: 0.25rem 0.125rem;margin-left: 41%;" [disabled]="!forgotForm.valid" (click)="submitEmail(email.value)">Submit</button>
    
                    <p style="text-align: center; margin-top: 2%;"><a routerLink="/">Back</a></p>

                </form>
    
                  <!-- <div style="text-align: center;">
                    <br>
                     <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">New User/Admin  <a id="signupLink" routerLink="/signup">Sign up</a></p>
                  </div> -->
    
                </div>

                <div id="secondshow" style="display: none;">
           <form #passForm="ngForm">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="height:100%"> <i class="fas fa-key" style="color: darkslateblue;"></i></span>
                        </div>
                        <input ngModel name="password" type="password" id="password" class="form-control" placeholder="Password*" aria-label="Password" aria-describedby="basic-addon1" #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$">
                        <div class="input-group-append">
                            <span class="input-group-text" style="height: 100%;"><i class="fa fa-eye" style="color:darkslateblue;" aria-hidden="true" id="openeye0"  (click)="showeye(0)"></i>
                                <i class="fas fa-eye-slash" id="closeeye0" style="display: none;color: darkslateblue;"></i></span>
                        
                            </div>
                            <div id="pgla" style="margin-left: 3%;margin-top: 2%;">
                              <i class="fas fa-info-circle fa-lg" style="color: darkslateblue;cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Password must be of 8-15 in length and must contain 
    atleast one uppercase, one lower case,
    one number and a special character"></i>
                            </div>
                        </div>
                        <div style="height: 32px;margin-top: -4%;">
                            <div *ngIf="password.invalid && (password.touched || password.dirty)">
                                <p *ngIf="password.errors?.['required']" style="color: red;">Password required</p>
                                <p *ngIf="password.errors?.['pattern']" style="color: red;">Pattern doesnot match</p>
                            </div>  
                        </div>
    
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="height:100%"> <i class="fas fa-key" style="color: darkslateblue;"></i></span>
                            </div>
                            <input  ngModel name="confirmPassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password*" aria-label="Password" aria-describedby="basic-addon1" pattern="{{password.value}}" #confirmPassword="ngModel" required>
                            <div class="input-group-append">
                                <span class="input-group-text" style="height: 100%;"><i class="fa fa-eye" style="color: darkslateblue;" aria-hidden="true" id="openeye1"  (click)="showeye(1)"></i>
                                    <i class="fas fa-eye-slash" id="closeeye1" style="display: none;color: darkslateblue;"></i></span>
                            </div>
                                    <div id="pgla" style="margin-left: 3%;margin-top: 2%;">
                                       <i class="fas fa-info-circle fa-lg" style="color: darkslateblue;cursor: pointer;"data-toggle="tooltip" data-placement="top" title="Password must be of 8-15 in length and must contain
    atleast one uppercase, one lower case,
    one number and a special character"></i>
                                   </div>
                            </div>
    
                            <div style="height: 32px;margin-top: -4%;">
                                <div *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">
                                    <p *ngIf="confirmPassword.errors?.['required']" style="color: red;">Password required</p>
                                    <p *ngIf="confirmPassword.errors?.['pattern']" style="color: red;">Password must be same</p>
                                </div>  
                            </div>


                            <button class="btn" id="submitPasswordButton" style="background-color: darkslateblue;color: white;border-radius: 0.25rem;margin: 0.25rem 0.125rem;margin-left: 41%;" [disabled]="!passForm.valid" (click)="submitPassword(password.value)">Submit</button>   

                        </form>
    

                </div>

                <div id="thirdshow">

                    



                </div>
                
              </div>
            
        </div>
       
    
    </div>
    
    </div>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="trigg"(click)=showAlert() style="display: none;">
        Launch demo modal
      </button>
      
      
      <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Account Verification</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="removeBoot()"></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-success" role="alert" id="pleaseAlert">
                We have send an OTP in your given mail.
              </div>
             <div class="row">
               <div class="col-md-7">
             <p>Please check your mail! and enter the given pin here.</p>
              </div>
              
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-1">
                    <p id="demo" style="color: red;font-size: 16px; margin-left: 62px;"></p>
                  </div>
                  <div class="col-md-3">
                    <input ngModel name="mehta" type="hidden" id="mehta" #mehta="ngModel">
                <input ngModel name="otp" type="text" id="otp" maxlength="6" #otp="ngModel" style="margin-left: 150%;"
                 (input)="checkOtp(otp.value)">
                 </div>
                 <div class="col-md-1" style="margin-left: 52%;">
                  <p *ngIf="myvalue==true && otpcheck==true"><i class="fas fa-check" style="color: greenyellow;"></i></p>
                  <p *ngIf="myvalue==true && otpcheck==false"><i class="fas fa-times" style="color: red;"></i></p>
                 </div>
              </div>
              </div>
              
            </div>
            </div>
            <div class="modal-footer">
        
                  <button type="button" class="btn btn-primary" id="resend" style="display: none;" (click)="resendOTP()">Resend</button>
                
                  <button type="button" class="btn btn-primary" [disabled]="otpcheck==false" (click)="storeData()">Confirm</button>    
            </div>
          </div>
        </div>
      </div>
    
    
